html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background: var(--body-background);
    color: var(--color-text);
}

.hero-container{
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    position: relative;
    padding: 20px;
    display: flex;
    overflow: hidden;
}

.hero-container video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.hero-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    background: #000;
    opacity: 0.85;
}

.hero-container::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 700px;
    height: 700px;
    z-index: -1;
    background: orange;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.hero-content{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hero-section{
    width: 100%;
    display: flex;
}

.hero-section-1{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.name{
    width: 100%;
    color: var(--color-white);
}

h1{
    width: 100%;
    font-size: 45px;
    color: var(--color-white);
}

.hero-text{
    width: 100%;
    color: var(--color-white);
}

.ubi{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    color: var(--color-white);
}

.flag{
    position: relative;
    display: block;
    width: 30px;
    height: 15px;
    background: red;
}

.flag::before{
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: var(--color-white);
}

.hero-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.hero-link{
    height: 45px;
    display: flex;
    padding: 0 40px;
}

.hero-link span{
    margin: auto;
    font-weight: 500;
}

.hero-link-1{
    background: var(--color-black);
}

.hero-link-1 span{
    color: var(--color-white);
    font-weight: 500;
}

.hero-link-2{
    background: transparent;
    border: 2px solid var(--color-white);
    transition: var(--transition);
}

.hero-link-2:hover{
    background: var(--color-white);
}

.hero-link-2 span{
    color: var(--color-white);
    transition: var(--transition);
}

.hero-link-2:hover span{
    color: var(--color-black);
}

.hero-section-2{
    display: flex;
}

.hero-section-2 img{
    margin: auto;
    width: auto;
    height: 500px;
}

header{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-black);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
    transition: var(--transition);
    overflow: hidden;
}

header.dark{
    background: var(--color-black);
}

.header{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.l, .o{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle{
    width: 25px;
    height: 25px;
    background: var(--color-black);
    border-radius: 100%;
    transition: var(--transition);
}

.logo-line{
    width: 50px;
    height: 25px;
    background: var(--color-black);
    border-radius: 50px;
    transition: var(--transition);
}

header.dark .logo-circle, header.dark .logo-line{
    background: var(--color-white);
}

.whatsApp-link{
    width: 50px;
    height: 50px;
    background: #25D366;
    border-radius: 100%;
    display: flex;
    position: relative;
}

.whatsApp-link::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: transparent;
    border: 3px solid #25D366;
    z-index: -1;
    scale: 0.9;
    transition: var(--transition);
}

.whatsApp-link:hover::before{
    scale: 1.1;
}

.whatsApp-link i{
    margin: auto;
    color: var(--color-white);
    font-size: 26px;
}

.header-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hamburguer{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.line{
    position: absolute;
    background: var(--color-black);
    height: 5px;
    border-radius: 4px;
    z-index: 1;
    transition: var(--transition);
}

header.dark .hamburguer .line{
    background: var(--color-white);
}

.line-1{
    position: absolute;
    left: 0;
    bottom: 30%;
    translate: 0 70%;
    width: 50%;
    rotate: 45deg;
}

.line-2{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    rotate: 45deg;
}

.line-3{
    position: absolute;
    right: 0;
    top: 30%;
    translate: 0 -70%;
    width: 50%;
    rotate: 45deg;
}

.line-1.active, .line-3.active{
    scale: 0;
}

.line-4{
    position: absolute;
    right: -100%;
    top: -100%;
    translate: 50% 50%;
    rotate: -45deg;
    width: 100%;
    transition: all 300ms ease !important;
}

.line-4.active{
    right: 50%;
    top: 50%;
    translate: 50% -50%;
}

.menu-container{
    width: 100%;
    height:0;
    background: var(--color-black);
    position: sticky;
    left: 0;
    top: 0;
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    overflow: hidden;
    padding: 0 20px;
    overflow-y: auto;
}

.menu-container::-webkit-scrollbar{
    display: none;
}

.menu-container.active{
    height: calc(100vh - 80px);
    max-height: 800px;
    top: 80px;
    opacity: 1;
    padding: 20px;
    pointer-events: unset;
}

.menu-content{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.menu-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title h2{
    color: var(--color-white);
    text-align: left;
}

.networks{
    display: flex;
    gap: 8px;
}

.network{
    width: 45px;
    height: 45px;
    background: var(--color-white);
    border-radius: 100%;
    display: flex;
    border: 2px solid var(--color-white);
    transition: var(--transition);
    position: relative;
}

.network:hover{
    background: var(--color-black);
    border: 2px solid var(--color-white);
}

.network::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border: 2px solid var(--color-white);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    scale: 0.9;
    transition: var(--transition);
}

.network:hover::before{
    scale: 1.2;
}

.network i{
    margin: auto;
    color: var(--color-black);
    font-size: 21px;
    transition: var(--transition);
}

.network:hover i{
    color: var(--color-white);
}

nav{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

nav li{
    width: 100%;
    display: flex;
}

.link{
    margin: auto;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-white);
}

.block-container{
    width: 100%;
    padding: 20px;
    display: flex;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.block-title{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-size: 45px;
    text-align: center;
}

.block-title span{
    font-weight: 500;
}

.yo{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.yo-1{
    width: 100%;
    display: flex;
}

.yo-1 img{
    margin: auto;
    width: 60%;
    height: auto;
}

.yo-2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.yo-links{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.yo-links .networks .network{
    background: var(--color-black);
}

.yo-links .networks .network::before{
    border: 2px solid var(--color-black);
}

.yo-links .networks .network i{
    color: var(--color-white);
}

.download-cv{
    width: 100%;
    height: 45px;
    background: var(--color-black);
    display: flex;
}

.download-cv span{
    color: var(--color-white);
    margin: auto;
}

.yo-formacion{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.formacion-target{
    width: 100%;
    background: var(--color-white);
    padding: 20px;
    border: 2px solid var(--color-black);
    position: relative;
    padding-top: 40px;
}

.formacion-icon{
    position: absolute;
    left: 50%;
    top: -30px;
    translate: -50% 0;
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-black);
    background: var(--color-white);
    border-radius: 100%;
    display: flex;
    transition: var(--transition);
}

.formacion-target:hover .formacion-icon{
    background: var(--color-black);
}

.formacion-icon i{
    margin: auto;
    color: var(--color-text);
    font-size: 20px;
    transition: var(--transition);
}

.formacion-target:hover .formacion-icon i{
    color: var(--color-white);
}

h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.formacion-target-1 p{
    margin-bottom: 10px;
}

.lenguajes{
    display: grid;
    gap: 5px;
}

.lenguajes li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0 0 0 / 0.07);
    padding: 10px;
}

.lenguaje{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.lenguaje i{
    font-size: 25px;
}

.nivel{
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.barras{
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.barra{
    display: block;
    width: 5px;
    background: rgb(47, 255, 99);
}

.barra-1{
    height: 8px;
}

.barra-2{
    height: 12px;
}

.barra-3{
    height: 16px;
}

.barra-no-disponible{
    background: rgba(0 0 0 / 0.2) !important;
}

.herramientas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.herramienta{
    width: 100%;
    background: rgba(0 0 0 / 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.herramienta img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.servicios{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.servicio{
    width: 100%;
    padding: 20px;
    border: 2px solid var(--color-black);
}

.servicio h3{
    text-align: center;
}

.servicio-text{
    margin-bottom: 10px;
}

.servicio-1-list{
    width: 100%;
}

.servicio-1-list div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.servicio-1-list div img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.servicio-1-list li{
    width: 100%;
    display: flex;
    gap: 5px;
}

.cotizar{
    width: 100%;
    display: flex;
    height: 45px;
    background: var(--color-black);
    margin-top: 40px;
    transition: var(--transition);
}

.cotizar span{
    margin: auto;
    color: var(--color-white);
    font-weight: 500;
    transition: var(--transition);
}

.servicio-3{
    background: var(--color-black);
    color: var(--color-white);
}

.servicio-3 h3{
    color: var(--color-white);
}

.servicio-3 .cotizar{
    background: transparent;
    border: 2px solid var(--color-white);
}

.servicio-3 .cotizar:hover{
    background: var(--color-white);
}

.servicio-3 .cotizar:hover span{
    color: var(--color-black);
}

footer{
    background: var(--color-black);
}

.footer{
    color: var(--color-white);
}

@media screen and (max-width:800px){
    *{
        cursor: none !important;
    }
}

@media screen and (max-width:600px){
    .hero-container{
        max-height: none;
        padding: 40px 10px;
        height: auto;
    }
    .hero-content{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .hero-section-2 img{
        margin: auto;
        width: 90%;
        height: auto;
    }
    .hero-container::before{
        width: 100%;
        height: 300px;
    }
    .hero-links{
        display: flex;
        align-items: center;
        justify-content: center !important;
        flex-direction: column;
        gap: 10px;
    }
    .hero-link{
        width: 100%;
    }
    header{
        padding: 0 10px;
    }
    .logo-circle{
        width: 19px;
        height: 19px;
    }
    .logo-line{
        width: 38px;
        height: 19px;
        border-radius: 20px;
    }
    .whatsApp-link{
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 101;
    }
    .menu-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }
    .menu-title h2{
        text-align: center;
    }
    .block-container{
        padding: 20px 10px;
    }
    .yo{
        grid-template-columns: 1fr;
    }
    .yo-1 img{
        width: 100%;
    }
    .yo-links{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .yo-links .networks{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .yo-formacion{
        flex-direction: column;
        gap: 40px;
    }
    .servicios{
        flex-direction: column;
    }
}