body{
    background: var(--body);
}

body::-webkit-scrollbar{
    display: none;
}

.layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0 0 0 / 0.5);
    backdrop-filter: blur(2.5px);
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.layer.active{
    opacity: 1;
    pointer-events: unset;
}

.body-container{
    color: var(--text);
    margin-left: auto;
    width: calc(100% - 70px);
    padding: 10px;
    text-align: justify;
    overflow: hidden;
}

@media screen and (max-width:800px){
    *{
        cursor: none !important;
    }
}