@media screen and (max-width:600px){
    .index{
        flex-direction: column-reverse;
    }
    .index-target_1{
        width: 100% !important;
    }
    .info{
        flex-direction: column;
    }
    .index-target_2{
        width: 100% !important;
    }
    .photo-profile{
        height: 400px !important;
    }
    .services{
        flex-direction: column;
    }
}