.nav-bar_container{
    position: fixed;
    left: 0;
    top: 0;
    width: 73px;
    height: 100vh;
    background: var(--dark-dark);
    border-right: 3px solid transparent;
    z-index: 100;
}

.nav-bar_container.active{
    width: 250px;
    border-right: 3px solid var(--light);
}

.nav-bar_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.nav-bar_top{
    width: 100%;
}

.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;
}

.profile-img{
    width: 50px;
    height: 50px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name{
    display: none;
}

.nav-bar_container.active .profile-name{
    display: block;
}

.profile-name div{
    color: var(--light);
}

.job{
    color: var(--light);
    font-weight: 500;
    font-size: 13px;
}

.nav-bar_button{
    position: absolute;
    top: 70px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    background: var(--dark-light);
    border: 3px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
}

.nav-bar_container.active .nav-bar_button i{
    rotate: -180deg;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.link{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 0 10px;
}

.link:hover{
    background: rgba(235 235 235 / 0.25);
}

.link i{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--light);
}

.link span{
    position: absolute;
    left: calc(100% + 20px);
    background: var(--dark-dark);
    color: var(--light);
    font-weight: 500;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.link:hover span{
    opacity: 1;
}

.link.active{
    background: var(--light);
}

.link.active i{
    color: var(--dark-dark);
}

.link.active span{
    color: var(--light) !important;
}

.nav-bar_bottom{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(235 235 235 / 0.25);
}

.dark-icons{
    display: none;
}

.dark-spans{
    display: none;
}

.dark-button{
    background: var(--dark-light);
    width: 40px;
    height: 25px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.dark-button span{
    position: absolute;
    left: 4px;
    top: 50%;
    translate: 0 -50%;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: var(--light);
    transition: all 500ms ease;
}

.dark-mode .dark-button span{
    left: calc(100% - 21px);
}

.nav-bar_container.active .link{
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-bar_container.active .link span{
    position: unset;
    background: transparent;
    width: auto;
    height: auto;
    color: var(--light);
    opacity: 1;
}

.nav-bar_container.active .link.active span{
    color: var(--dark-dark) !important;
}

.nav-bar_container.active .nav-bar_bottom{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10px;
}

.nav-bar_container.active .dark-icons{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}

.dark-icons i{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: var(--light);
    font-size: 20px;
    transition: all 500ms ease;
}

.fa-sun{
    scale: 0;
}

.dark-mode .fa-sun{
    scale: 1;
}

.dark-mode .fa-moon{
    scale: 0;
}

.nav-bar_container.active .dark-spans{
    display: block;
    width: 100px;
    height: 50px;
    position: relative;
}

.nav-bar_container.active .dark-spans span{
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    color: var(--light);
}

.nav-bar_container.active .dark-button{
    margin-left: auto;
}

.light-span{
    opacity: 0;
}

.dark-mode .light-span{
    opacity: 1;
}

.dark-mode .dark-span{
    opacity: 0;
}