:root{
    --body:#1a1a1a;

    --header:#222;
    --logo:#222;

    --one:crimson;
    --target: rgba(235 253 235 / 0.1);

    --white:#fff;
    --black:#1a1a1a;

    --text:#fff;

    --transition-250ms:all 250ms ease;
}