:root{
    --body:#fff;

    --header:#222;
    --logo:#222;

    --one:crimson;
    --target:rgb(34 34 34 / 0.05);

    --white:#fff;
    --black:#222;

    --text:#222;

    --transition-250ms:all 250ms ease;
}