*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Google Sans';
    font-size: 16px;
    font-weight: 400;
}

:root{
    --body-background:#fff;
    --color-white:#fff;
    --color-black:#222;
    --color-text:#222;
    --transition: all 200ms ease;
}

h1, h2, h3, h4, h5, h6{
    width: 100%;
    font-weight: 500;
}