*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Google Sans';
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

:root{
    --body:#fff;
    --dark-dark:#0f0e0e;
    --dark-light:#221e22;

    --light:#fff;

    --text:#222;
}

.dark-mode{
    --body:#221e22;
    --text:#fff;
}