@import url('./CSS/GoogleSans-Regular/style.css');
@import url('./CSS/GoogleSans-Medium/style.css');
@import url('./CSS/dark-mode.css');
@import url('./CSS/icons.css');
@import url('./CSS/root.css');

html{
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

body::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Google Sans';
}

body{
    background: var(--body);
    transition: var(--transition-250ms);
    width: 100%;
    min-height: 100vh;
}

.text{
    color: var(--text);
    transition: var(--transition-250ms);
}

.text::selection{
    background: var(--white);
    color: var(--black);
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 20px;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body);
    transition: var(--transition-250ms);
    overflow: hidden;
}

.header{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
    color: var(--white);
    font-weight: 500;
    font-size: 32px;
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.link{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-250ms);
}

.link h2{
    color: var(--white);
}

.link span{
    display: none;
}

/*Layer*/

/*Hamburguer-icon*/

.hamburguer{
    display: none;
}

/*Main compotition*/

main{
    width: 100%;
    position: relative;
}

/*Hero*/

.hero-container{
    width: 100%;
    height: 100vh;
    max-height: 800px;
    display: flex;
    padding: 0 20px;
    overflow: hidden;
}

.hero-content{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    position: relative;
    display: flex;
    gap: 20px;
}

.hero-targets_container{
    width: 100%;
    display: flex;
}

.hero-targets{
    background: var(--white);
    margin: auto;
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.hero-targets_slides{
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    display: flex;
    transition: var(--transition-250ms);
}



.hero-targets_slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-targets_slide p{
    width: 100%;
    margin: auto;
    font-size: 45px;
    text-align: center;
    color: var(--black);
    font-weight: 500;
    pointer-events: none;
    user-select: none;
}

.hero-targets_slide p::selection{
    background: var(--black);
    color: var(--white);
}

.hero-targets_buttons{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    z-index: 1;
}

.hero-targets_button{
    width: 40px;
    height: 5px;
    background: var(--black);
    opacity: 0.5;
    transition: var(--transition-250ms);
    cursor: pointer;
}

.hero-targets_button.active, .hero-targets_button:hover{
    opacity: 1;
}

.hero-text{
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    width: 100%;
    font-size: 70px;
    font-weight: 500;
    color: var(--white);
}

.hero-description{
    width: 100%;
}

.networks{
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 5;
}

.network h2{
    color: var(--white);
}

.button{
    border: 0;
    outline: 0;
    cursor: pointer;
}

/*Blocks*/

.block-container{
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.block-content{
    margin: auto;
    width: 100%;
    padding: 20px 0;
    max-width: 1600px;
}

/*About section*/

.about-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
}

.about-button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: var(--transition-250ms);
}

.about-button:hover, .about-button.active{
    background: var(--white);
}

.about-button span{
    color: var(--white);
    transition: var(--transition-250ms);
}

.about-button:hover span, .about-button.active:hover span{
    color: var(--black);
}

.about-button.active span{
    color: var(--black);
}

.about-targets{
    width: 100%;
    height: 500px;
    display: flex;
}

.about-target{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.about-target_1-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: all 500ms ease;
    background: var(--black);
}

.about-target_1-1 h3{
    width: 100%;
    font-size: 70px;
    font-weight: 500;
}

.about-target_1-1 p{
    width: 100%;
    margin-bottom: 20px;
}

.info-list{
    width: 100%;
}

.info-list li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.info-list li b{
    font-weight: 500;
}

.info-list li a{
    text-decoration: underline;
}

.about-target_1-2{
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: all 500ms ease;
    background: var(--black);
}

.about-target_1-2 h3{
    width: 100%;
    font-size: 70px;
    font-weight: 500;
}

.about-target_1-2 p{
    margin-bottom: 20px;
    width: 100%;
}

.formation-list{
    width: 100%;
}

.list-link{
    color: var(--white);
}

.list-link:hover{
    text-decoration: underline;
}

.about-target_2{
    width: 100%;
    height: 100%;
    position: relative;
}

.about-target_2-1, .about-target_2-2{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-size: 50px;
    font-weight: 500;
    background: var(--white);
    color: var(--black);
    transition: all 1s ease;
    padding: 0 20px;
}

.about-target_2-1::selection, .about-target_2-2::selection{
    background: var(--black);
    color: var(--white);
}

.about-target_2-2{
    top: 100%;
}

.about-targets.active .about-target_1 .about-target_1-1{
    left: -100%;
}

.about-targets.active .about-target_1 .about-target_1-2{
    left: 0;
}

.about-targets.active .about-target_2 .about-target_2-1{
    top: 100%;
}

.about-targets.active .about-target_2 .about-target_2-2{
    top: 0;
}

/*Proyects*/

.proyects-container{
    width: 100%;
    display: flex;
}

.proyects-text{
    width: 100%;
    background: var(--white);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proyects-title{
    font-size: 60px;
    font-weight: 500;
    padding: 0 20px;
}

.proyects-text p{
    color: var(--black);
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

.proyects{
    width: 100%;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.proyects::-webkit-scrollbar{
    display: none;
}

.proyect{
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
    position: relative;
    padding-left: 20px;
}

.proyect-date{
    background: var(--white);
    padding: 10px;
    position: relative;
}

.proyect-date span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: -90deg;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.proyect-date span{
    color: var(--black);
    font-weight: 500;
}

.proyect-date span::selection{
    background: var(--black);
    color: var(--white);
}

.proyect-description{
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.proyect-name{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: auto;
}

.proyect-name b{
    font-size: 30px;
    font-weight: 500;
}

.proyect-name:hover b{
    text-decoration: underline;
}

.proyect-text{
    margin-bottom: 20px;
}

.proyect-tech{
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.proyect-tech div{
    font-size: 14px;
}

/*Modal resumen*/

/*Footer*/

.footer{
    background: var(--white);
    padding: 80px 20px;
}

.footer-title{
    width: 100%;
    color: var(--black);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact{
    width: 100%;
    display: flex;
}

.contact-target{
    width: 100%;
}

.contact-target_1{
    display: flex;
}

.contact-text{
    margin: auto;
    width: 100%;
    font-size: 70px;
    font-weight: 500;
}

.contact-text::selection{
    background: var(--black);
    color: var(--white);
}

.contact-form{
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: var(--black);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-section span{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 20px;
    color: var(--white);
    font-size: 14px;
}

.form-section input, .form-section textarea{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 0;
    outline: 0;
}

.form-section input::placeholder, .form-section textarea::placeholder{
    color: var(--black);
    font-weight: 500;
}

.form-section_sms{
    height: 200px;
}

.form-section textarea{
    padding: 10px;
    height: calc(100% - 20px);
    resize: none;
}

.form-section input::selection, .form-section textarea::selection{
    background: var(--black);
    color: var(--white);
}

.contact-submit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    background: var(--white);
}

.contact-submit b{
    font-size: 18px;
    font-weight: 500;
}

/*Final*/

.final-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.final-link{
    color: var(--white);
}

/*Responsive*/

@media screen and (max-width:800px){
    *{
        cursor: none !important;
    }
}

@media screen and (max-width:600px){
    header{
        padding: 0 10px;
    }
    nav{
        position: fixed;
        right: -100%;
        top: 80px;
        align-items: flex-start;
        justify-content: unset;
        flex-direction: column;
        background: var(--black);
        backdrop-filter: blur(5px);
        width: 100%;
        height: calc(100vh - 80px);
        gap: 0;
        transition: all 500ms ease;
        overflow: hidden;
    }
    nav.active{
        right: 0;
    }
    nav li{
        width: 100%;
    }
    .link{
        width: 100%;
        padding: 0 20px;
        height: 60px;
        justify-content: space-between;
    }
    .link:hover{
        background: var(--white);
    }
    .link h2{
        font-size: 20px;
    }
    .link:hover h2{
        color: var(--black);
    }
    .link span{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 40px;
    }
    .link:hover span{
        color: var(--black);
    }
    .hamburguer{
        display: block;
        width: 60px;
        height: 60px;
        position: relative;
    }
    .line{
        position: absolute;
        height: 5px;
        border-radius: 5px;
        background: var(--white);
        transition: var(--transition-250ms);
    }
    .line-1{
        left: 0;
        bottom: 30%;
        translate: 0 70%;
        width: 50%;
        rotate: 45deg;
    }
    .line-2{
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        rotate: 45deg;
        width: 100%;
    }
    .line-3{
        right: 0;
        top: 30%;
        translate: 0 -70%;
        width: 50%;
        rotate: 45deg;
    }
    .line-4{
        right: -100%;
        top: -100%;
        translate: 50% 50%;
        rotate: -45deg;
        width: 100%;
    }
    .line-1.active, .line-3.active{
        scale: 0;
    }
    .line-2.active, .line-4.active{
        width: 70%;
    }
    .line-4.active{
        right: 50%;
        top: 50%;
        translate: 50% -50%;
    }
    .hero-container{
        padding: 0 10px;
        margin-top: 80px;
        height: auto;
        max-height: none;
        padding-bottom: 20px;
    }
    .hero-content{
        flex-direction: column-reverse;
    }
    .networks{
        bottom: 0;
    }
    .hero-targets{
        height: 350px;
        margin-bottom: 50px;
    }
    .hero-targets_slide p{
        font-size: 30px;
    }
    .hero-text{
        margin: auto;
        width: 100%;
    }
    h1{
        font-size: 50px;
    }
    .block-container{
        padding: 0 10px;
    }
    .about-targets{
        height: 1000px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .about-target_1-1, .about-target_1-2{
        align-items: flex-start;
        justify-content: unset;
    }
    .about-target_1-1 h3, .about-target_1-2 h3{
        font-size: 50px;
    }
    .about-target_2-1, .about-target_2-2{
        padding: 0;
        text-align: center;
    }
    .proyects-container{
        flex-direction: column;
        gap: 20px;
    }
    .proyect{
        padding: 0;
    }
    .footer{
        padding: 60px 10px;
    }
    .contact{
        flex-direction: column;
        gap: 20px;
    }
    .contact-target{
        width: 100%;
    }
}