@import url('./CSS/GoogleSans-Regular/style.css');
@import url('./CSS/GoogleSans-Medium/style.css');
@import url('./CSS/icons.css');
@import url('./CSS/root.css');
@import url('./CSS/cellphone.css');

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Google Sans';
}

.block-container{
    width: 100%;
    padding: 10px;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.block-title{
    width: 100%;
    margin-bottom: 10px;
}

.block-title h2{
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}

.index{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.index-target{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.index-target_1{
    width: calc(100% - 310px);
}

.index-intro{
    width: 100%;
    padding: 25px;
    border-radius: 50px;
    background: var(--target);
}

.info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.info-target{
    width: 100%;
    padding: 25px;
    border-radius: 50px;
    background: var(--target);
}

.info-target_1{
    background: var(--target);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

h3{
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

.info-target_text{
    width: 100%;
    color: var(--text);
}

.formation-list{
    width: 100%;
}

.info-target_2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.languages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.language-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.language-level{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3px;
}

.language-level div{
    width: 8px;
    border-radius: 50px;
    background: rgb(28, 211, 43);
}

.low{
    height: 16px;
}

.medium{
    height: 24px;
}

.medium.active{
    opacity: 0.5;
}

.high{
    height: 32px;
    opacity: 0.5;
}

.high.active{
    opacity: 1;
}

.index-target_2{
    width: 300px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.photo-profile{
    width: 100%;
    height: 300px;
    border-radius: 50px;
    background: blue;
    object-fit: cover;
}

.at{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background: var(--target);
    border-radius: 50px;
}

.networks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.network{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background: var(--target);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.service-target{
    width: 100%;
    padding: 25px;
    border-radius: 50px;
    background: var(--target);
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.service-text{
    width: 100%;
    color: var(--text);
}

.service-target_3{
    background: rgb(34 34 34 / 1);
}

.service-target_3 h3{
    color: var(--white);
}

.service-target_3 .service-text{
    color: var(--white);
}