@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    background: var(--body);
    color: var(--text);
}

:root{
    --body:#fff;
    --text:#222;

    --white:#fff;
    --green:#05df46;
    --blue:#0043a1;
    --whatsapp:#25D366;
}

.preloader{
    width: 100%;
    height: 100vh;
    background: var(--body);
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: preloader 5s ease;
    display: none;
}

@keyframes preloader{
    0%, 90%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}

.preloader img{
    width: 07%;
    object-fit: cover;
}

.preloader span, .preloader span b{
    font-size: 40px;
    color: var(--blue);
    font-weight: 600;
}

.preloader span b{
    color: var(--green);
}

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: transparent;
    width: 100%;
    height: 80px;
    transition: all 300ms ease;
    border-bottom: 3px solid transparent;
}

.header-c{
    width: 100%;
    height: 100%;
    padding: 0 20px;
    position: relative;
}

.header-c::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: var(--white);
    transition: all 300ms ease;
    z-index: -1;
    display: none;
}

.header__active::before{
    width: 100%;
}

.header{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo img{
    height: 80%;
}

.logo h1, .logo h1 b{
    font-size: 35px;
    font-weight: 500;
    color: var(--blue);
}

.logo h1 b{
    color: var(--green);
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
}

.links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link{
    font-weight: 500;
    color: var(--blue);
}

.hamburguer{
    display: none;
}

.sliderContainer{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 100%;
    display: flex;
    animation: slider 15s ease infinite alternate;
    transition: all 300ms ease;
}

@keyframes slider{
    0%, 25%{
        margin-left: 0;
    }
    26%, 50%{
        margin-left: -100%;
    }
    51%, 75%{
        margin-left: -200%;
    }
    76%, 100%{
        margin-left: -300%;
    }
}

.slider img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/**/

.bannerContainer{
    width: 100%;
    height: 100vh;
    max-height: 700px;
}

.bannerContent{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}

.bannerItems{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bannerItem{
    width: 100%;
    background: var(--green);
    padding: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.bannerTitle{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.bannerLink{
    background: var(--blue);
    padding: 10px 30px;
    color: var(--white);
    font-weight: 500;
}

/**/

.whatsAppContainer{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--whatsapp);
    z-index: 15;
    border-radius: 50px;
    transition: all 300ms ease;
    overflow: hidden;
}

.whatsAppContainer:hover{
    width: 170px;
}

.whatsAppContent{
    width: 100%;
    height: 100%;
    position: relative;
}

.whatsAppContent span{
    position: absolute;
    top: 50%;
    left: -200%;
    translate: 0 -50%;
    color: var(--white);
    transition: all 300ms ease;
    font-weight: 600;
}

.whatsAppContainer:hover .whatsAppContent span{
    left: 20px;
}

.whatsAppContent i{
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    color: var(--white);
    font-size: 30px;
    transition: all 300ms ease;
}

.whatsAppContainer:hover .whatsAppContent i{
    right: 20px;
    translate: 0 -50%;
}

/**/

.blockContainer{
    padding: 20px;
    width: 100%;
    background: var(--white);
}

.blockContent{
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.blockTitle{
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    color: var(--blue);
}

/**/

.contactDirectContainer{
    height: 100px;
    background: var(--blue);
}

.contactDirectContent{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactDirectContent p{
    font-size: 30px;
    color: var(--white);
}

.contactDirectLink{
    background: var(--green);
    color: var(--white);
    padding: 10px 30px;
    font-weight: 500;
}

/**/

#Cuidados .blockTitle{
    text-align: center !important;
}

.cares{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.care{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.careItem{
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-bottom: 10px;
}

.careItem i{
    font-size: 40px;
}

.careTitle{
    width: 100%;
    text-align: center;
    color: var(--blue);
    font-size: 25px;
}

.careText{
    text-align: center;
}

/**/

.treatments{
    width: 100%;
    display: flex;
    gap: 10px;
}

.treatment{
    flex: 1;
    transition: all 1s ease;
    height: 300px;
    position: relative;
}

.treatment:hover{
    flex: 10;
}

.treatment img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--white);
    opacity: 0;
    transition: all 300ms ease;
}

.treatment:hover .gradient{
    opacity: 0.65;
}

.treatment span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: -90deg;
    transition: all 500ms ease;
    z-index: 2;
    font-weight: 500;
    color: var(--blue);
    font-size: 40px;
}

.treatment:hover > span{
    rotate: 0deg;
}

/**/

.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product{
    width: 100%;
    cursor: pointer;
    transition: all 200ms ease;
    padding: 10px;
    position: relative;
}

.product:hover{
    background: rgba(0 0 0 / 0.03);
}

.productImg{
    width: 100%;
    height: 250px;
    position: relative;
}

.sticker{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 5px 15px;
    background: var(--blue);
    font-size: 10px;
    color: var(--white);
    font-weight: 500;
}

.productImg img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    height: 70%;
    width: auto;
    z-index: 0;
    transition: all 300ms ease;
    user-select: none;
    pointer-events: none;
}

.product:hover .productImg img{
    scale: 1.2;
}

.markWater{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: -45deg;
    font-size: 20px;
    font-weight: 500;
    color: #555;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}

.productName{
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--blue);
}

.product:hover .productName{
    text-decoration: underline;
}

.productPryce{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}

.soles{
    color: var(--blue);
    font-size: 20px;
    font-weight: 500;
}

.dollar{
    color: var(--green);
    font-size: 14px;
    font-weight: 500;
}

.productRanking{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}

.stars{
    display: flex;
    align-items: center;
}

.stars i{
    color: #f90;
    font-size: 10px;
}

.gray{
    color: #444 !important;
}

.opinions{
    color: #555;
    font-size: 10px;
}

/**/

.testimonialsContainer{
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
}

.testimonials{
    width: 400%;
    height: 100%;
    display: flex;
    transition: all 300ms ease;
    margin-bottom: 25px;
}

.testimonial{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonialName{
    color: var(--blue);
    font-size: 25px;
    font-weight: 500;
}

.testimonialProduct{
    color: var(--green);
    font-weight: 500;
}

.testimonialText{
    text-align: center;
}

.testimonialButtons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.testimonialButton{
    width: 12px;
    height: 12px;
    background: var(--blue);
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
}

.testimonialButton:hover{
    background: var(--green);
}

.testimonialButton__active{
    background: var(--green);
}

/**/

#Contacto{
    background: url('https://images.unsplash.com/photo-1606318313647-137d1f3b4d3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=877&q=80');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
    position: relative;
}

#Contacto::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    opacity: 0.7;
    z-index: 0;
}

#Contacto .blockContent{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 40px) !important;
}

#Contacto .blockContent .blockTitle{
    color: var(--white);
    text-align: center;
}

.suscribeText{
    color: var(--white);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.suscribe{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.suscribe input{
    width: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.suscribe input::placeholder{
    color: var(--text);
}

.suscribe button{
    height: 45px;
    padding: 0 30px;
    cursor: pointer;
    background: var(--green);
    color: var(--white);
    font-weight: 500;
    outline: 0;
    border: 0;
    border-radius: 5px !important;
}

/**/

#Final{
    background: var(--blue);
}

#Final .blockContent p{
    width: 100%;
    text-align: center;
    color: var(--white);
}

#Final .blockContent p a, #Final .blockContent p a b{
    color: var(--white);
    font-weight: 500;
}

/**/

.productSelectContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background: transparent;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease;
}

.productSelectContainer:target{
    opacity: 1;
    pointer-events: unset;
    background: rgba(0 0 0 / 0.5);
}

.productSelectContent{
    margin-top: 100px;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    background: var(--white);
    margin: auto;
    display: grid;
    grid-template-columns: 400px 1fr;
    overflow: hidden;
    position: relative;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: crimson;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.close i{
    font-size: 20px;
}

.productSelectImg{
    width: 100%;
    height: 100%;
    position: relative;
}

.productSelectImg img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
    z-index: 0;
    object-fit: cover;
    pointer-events: none;
}

.productSelectImg span{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    rotate: -45deg;
    font-size: 40px;
    color: #555;
    opacity: 0.5;
    font-weight: 500;
    pointer-events: none;
}

.productSelectDescription{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.productSelectName{
    margin-top: 40px;
    width: 100%;
    padding: 0 10px;
    color: var(--blue);
    font-size: 35px;
    font-weight: 500;
}

.productText{
    padding: 0 10px;
    margin-bottom: 20px;
}

.productLinks{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.productLinks a{
    background: var(--blue);
    width: 145px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    border: 3px solid transparent;
}

.productLinks a span{
    position: absolute;
    left: 15px;
    top: 50%;
    translate: 0 -50%;
    font-weight: 500;
    color: var(--blue);
}

.productLinks a i{
    position: absolute;
    right: 15px;
    top: 50%;
    translate: 0 -50%;
    color: var(--white);
}

.buy span{
    color: var(--white) !important;
}

.buy i{
    font-size: 20px !important;
}

.more{
    background: var(--white) !important;
    border: 2px solid var(--blue) !important;
}

.more i{
    color: var(--blue) !important;
    font-size: 24px !important;
}

.moreProducts{
    width: 100%;
    display: flex;
    align-items: center;
}

.moreProducts a{
    height: 130px;
    display: flex;
    transition: all 300ms ease;
}

.moreProducts a:hover{
    background: rgba(0 0 0 / 0.1);
}

.moreProducts a img{
    margin: auto;
    height: 90%;
    width: auto;
    object-fit: cover;
}

/**/

@media screen and (max-width:800px){
    .cares{
        grid-template-columns: repeat(2, 1fr);
    }
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:600px){
    .preloader img{
        width: 30%;
    }
    .header-c{
        padding: 0 10px;
    }
    .logo img{
        height: 60%;
    }
    .logo span, .logo span b{
        font-size: 30px;
    }
    .menu{
        position: fixed;
        left: -100%;
        top: 80px;
        padding: 0 10px;
        background: var(--white);
        z-index: 11;
        width: 100%;
        height: calc(100vh - 80px);
        transition: all 300ms ease;
    }
    .menu__active{
        left: 0;
    }
    .menu ul{
        width: 100%;
        flex-direction: column;
    }
    .header-c::before{
        display: block;
    }
    .link{
        font-size: 18px;
        font-weight: 500;
    }
    .hamburguer{
        display: block;
        background: var(--blue);
        width: 45px;
        height: 45px;
        cursor: pointer;
        border-radius: 5px !important;
        position: relative;
    }
    .line{
        position: absolute;
        left: 50%;
        translate: -50% 0;
        width: calc(100% - 12px);
        height: 3.5px;
        border-radius: 5px;
        background: var(--white);
        transition: all 300ms ease;
    }
    .line-1{
        top: 10px;
    }
    .line-2{
        top: 50%;
        translate: -50% -50%;
    }
    .line-2__active{
        width: 0;
    }
    .line-3{
        bottom: 10px;
    }
    .line-1__active, .line-3__active{
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 60%;
    }
    .line-1__active{
        rotate: 45deg;
    }
    .line-3__active{
        rotate: -45deg;
    }
    .blockContainer{
        padding: 20px 10px;
    }
    .blockTitle{
        font-size: 30px;
    }
    .bannerItems{
        display: none;
    }
    .cares{
        grid-template-columns: 1fr;
    }
    .careTitle{
        font-size: 20px;
    }
    .treatment span{
        font-size: 20px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .product{
        cursor: none;
    }
    .testimonialButton{
        cursor: none;
    }
    #Contacto{
        height: 500px;
    }
    .suscribe{
        flex-direction: column;
    }
    .suscribe button{
        width: 100% !important;
    }
    .productSelectContainer{
        overflow: hidden;
        overflow-y: scroll;
    }
    .productSelectContent{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .productSelectImg{
        height: 400px;
    }
    .productSelectImg span{
        font-size: 30px;
    }
    .productLinks{
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .moreProducts{
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }
    .moreProducts a{
        width: 100%;
    }
    .button{
        cursor: none !important;
    }
    #Final .blockContent p a{
        cursor: none;
    }
}

.button{
    border-radius: 25px;
}

.thanksContainer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(0 0 0 / 0.5);
    display: flex;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all 100ms ease;
}

.thanks__active{
    opacity: 1;
    pointer-events: unset;
}

.thanksContent{
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
    background: var(--body);
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0 0 0 / 0.3);
    position: relative;
    overflow: hidden;
}

.thanksClose{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: crimson;
}

.thanksClose i{
    font-size: 25px;
}

.thanksTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.thanksTop img{
    height: 70px;
    width: auto;
    object-fit: cover;
}

.thanksTop span, .thanksTop span b{
    color: var(--blue);
    font-size: 30px;
    font-weight: 500;
}

.thanksTop span b{
    color: var(--green);
}

.thanksText{
    width: 100%;
    text-align: center;
}

.opacity{
    transition: all 1s ease;
    opacity: 0;
}