@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --blue:#023550;
    --orange:#F55402;
    --text:#222;
    --white:#fff;

    --clear: rgba(85 85 85 / 0.05);
    --dark:rgba(0 0 0 / 0.4)
}

.pointer{
    cursor: pointer;
}

header{
    width: 100%;
    height: 80px;
    padding: 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--blue);
    z-index: 10;
}

.header{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--white);
    font-size: 30px;
    font-weight: 500;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
}

.links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link{
    color: var(--white);
    transition: all 200ms ease;
}

.link:hover, .link__active{
    color: var(--orange);
}

.hamburguer{
    width: 30px;
    height: 25px;
    position: relative;
    display: none;
}

.line{
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 4px;
    background: var(--white);
    border-radius: 10px;
    transition: all 200ms ease;
}

.line-1{
    top: 0;
}

.line-1__active{
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: 45deg;
}

.line-2{
    top: 50%;
    translate: -50% -50%;
}

.line-2__active{
    width: 0;
}

.line-3{
    top: calc(100% - 4px);
}

.line-3__active{
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    rotate: -45deg;
}

/*Video*/

.video{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Banner*/

.bannerContainer{
    margin-top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    padding: 20px;
}

.banner{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 700px;
    display: flex;
}

.banner p{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    color: var(--white);
    font-size: 70px;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

/*Blocks*/

.blockContainer{
    width: 100%;
    padding: 20px;
    background: var(--white);
}

.blockContent{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.blockTitle{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--blue);
    position: relative;
    margin-bottom: 20px;
}

.blockTitle::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 200px;
    height: 6px;
    background: var(--orange);
}

/*Transparent*/

.transparent{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--dark);
    z-index: 15;
    opacity: 0;
    pointer-events: none;
}

.transparent__active{
    opacity: 1;
    pointer-events: unset;
}

/*Servicies*/

.servicies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.servicie{
    width: 100%;
    overflow: hidden;
    background: var(--clear);
}

.servicie img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    pointer-events: none;
}

.servicieTitle{
    color: var(--blue);
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
}

.servicieText{
    width: 100%;
    text-align: left;
    margin: 15px 0;
    padding: 0 10px;
}

.servicieLink{
    margin-left: auto;
    background: var(--orange);
    color: var(--white);
    width: auto;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}

.servicieContainer{
    position: fixed;
    z-index: 20;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: var(--white);
    width: calc(100% - 40px);
    max-width: 1000px;
    opacity: 0;
    pointer-events: none;
    padding: 10px;
    transition: all 200ms ease;
}

.servicieContainer__active{
    opacity: 1;
    pointer-events: unset;
}

.close{
    width: 40px;
    height: 40px;
    background: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-left: auto;
}

.servicieModalTitle{
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: var(--blue);
    font-weight: 500;
}

/*Proyects*/

.proyects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.proyect{
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.proyect img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
    background: rgba(235 235 235 / 0.7);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease;
}

.proyect:hover .layer{
    opacity: 1;
    pointer-events: unset;
}

/*Customers*/

.customers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.customer{
    width: auto;
    height: 60px;
    object-fit: contain;
    aspect-ratio: 3/1;
}

/*Us*/

#Nosotros{
    padding: 0;
    background: #f5f5f5;
}

.usContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.usNumbers{
    width: 100%;
    padding: 20px;
    background: var(--orange);
}

.numbers{
    margin: auto;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.number{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.number:nth-child(2){
    position: relative;
}

.number:nth-child(2)::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    width: 3px;
    height: 70%;
    background: var(--white);
    border-radius: 5px;
}

.number:nth-child(2)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    width: 3px;
    height: 70%;
    background: var(--white);
    border-radius: 5px;
}

.number span{
    color: var(--white);
    font-weight: 600;
    font-size: 35px;
}

.numberText{
    color: var(--white);
    font-size: 20px;
}

.usBackground{
    width: 100%;
    height: 500px;
    background: url('https://static.wixstatic.com/media/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg/v1/fill/w_1804,h_737,al_c,q_85,usm_0.33_1.00_0.00,enc_auto/11062b_4f14b356c1df4854968cf1cc94ca98c5f000.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Contact*/

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact iframe{
    width: 100%;
    height: 400px;
    grid-column: 1/-1;
    border-radius: 20px 20px 0 0;
}

.formContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contactTitle{
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    color: var(--blue);
}

.contactText{
    width: 100%;
    text-align: left;
}

.form{
    width: 100%;
    display: grid;
    gap: 10px;
}

.form input, .form textarea{
    width: 100%;
    height: 50px;
    outline: 0;
    padding: 0 10px;
    transition: all 200ms ease;
    border: 2px solid #555;
}

.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus{
    border: 2px solid var(--orange);
}

.form textarea{
    height: 180px;
    padding: 10px;
    resize: none;
}

.submitContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}

.submit{
    width: 200px;
    height: 60px;
    background: var(--orange);
    border: 0;
    outline: 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.submit i{
    font-size: 25px;
}

.contactMore{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contactLink{
    color: var(--text);
}

.contactLink:hover{
    color: var(--orange);
    text-decoration: underline;
}

/*Thanks*/

.thanks{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 20px);
    max-width: 500px;
    padding: 30px 10px;
    background: var(--white);
    z-index: 20;
    box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease;
}

.thanks__active{
    opacity: 1;
}

.thanksTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 500;
    color: var(--blue);
}

.thanksText{
    text-align: center;
}

/**/

.proyectPage{
    margin-top: 80px;
}

.proyectsContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.proyectContent{
    width: 100%;
}

.proyectTitle{
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    color: var(--blue);
}

.proyectText{
    margin: 10px 0;
}

.proyectGallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.proyectGallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width:800px){
    .pointer, a, .link{
        cursor: none;
    }
    .proyectGallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px){
    header{
        padding: 0 10px;
    }
    .hamburguer{
        display: block;
    }
    .menu{
        position: fixed;
        left: -100%;
        top: 80px;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--blue);
        transition: all 200ms ease;
    }
    .menu__active{
        left: 0;
    }
    .links{
        margin: auto;
        height: auto;
        flex-direction: column;
    }
    .link{
        font-size: 20px;
    }
    .blockContainer{
        padding: 20px 10px;
    }
    .banner p{
        font-size: 40px;
    }
    .servicies{
        grid-template-columns: 1fr;
    }
    .proyects{
        grid-template-columns: 1fr;
    }
    .usContainer{
        grid-template-columns: 1fr;
    }
    .usContent{
        padding: 0 10px;
    }
    .numbers{
        grid-template-columns: 1fr;
    }
    .number:nth-child(2)::before, .number:nth-child(2)::after{
        display: none;
    }
    .contact{
        grid-template-columns: 1fr;
    }
    .contact iframe{
        height: 200px;
    }
    .proyectGallery{
        grid-template-columns: 1fr;
    }
}