*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
    scroll-padding: 140px;
}

body::-webkit-scrollbar{
    display: none;
}

@font-face{
    font-family: 'Poppins';
    /* src: url('./Poppins/Poppins-SemiBold.ttf'); */
    src: url('./Poppins/Poppins-Medium.ttf');
    /* src: url('./Poppins/Poppins-Regular.ttf'); */
}

h1, h2, h3, h4, h5, h6{
    font-weight: unset;
}

:root{
    --red:#ff0000;
    --black:#222222;
    --white:#ffffff;

    --transition-250ms: all 250ms linear;
}

button{
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

/**/

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: var(--transition-250ms);
    z-index: 100;
}

header.active{
    background: var(--white);
    box-shadow: 0 5px 7.5px #22222225;
}

.header-top{
    width: 100%;
    height: 40px;
    margin-top: -40px;
    overflow: hidden;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    transition: var(--transition-250ms);
}

header.active .header-top{
    margin-top: 0;
}

.networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.network h2{
    color: var(--white);
    font-size: 13px;
}

.header{
    width: 100%;
    height: 120px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-250ms);
}

header.active .header{
    height: 100px;
}

.logo{
    height: calc(100% - 20px);
    transition: var(--transition-250ms);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link{
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: var(--transition-250ms);
    padding: 0 10px;
    position: relative;
}

.link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 0;
    height: 4px;
    background: var(--red);
    transition: var(--transition-250ms);
    border-radius: 5px;
}

.link:hover::before{
    width: 100%;
}

header.active .link{
    color: var(--black);
}

header.active .link:hover{
    color: var(--red);
}

.link-5{
    background: var(--red);
    border-radius: 10px;
    padding: 0 20px;
}

.link-5 h2{
    color: var(--white);
}

.link-5::before{
    display: none;
}

/**/

.hero-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
}

.hero-videoBg_container{
    width: 300%;
    height: 100%;
    display: flex;
    position: relative;
}

.hero-videoBg{
    width: 100%;
    height: 100%;
}

.videoBg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 0.35);
}

/**/

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px;
}

.main-content{
    margin: auto;
    width: 100%;
    height: 100%;
}

/**/

.block-container{
    width: 100%;
    padding: 20px;
    display: flex;
    background: var(--white);
}

.block-content{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.block-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.block-title h2{
    color: var(--black);
    font-size: 40px;
}

.block-title h3{
    color: var(--red);
}

.button-link{
    width: auto;
    height: 45px;
    padding: 0 10px;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
}

.button-link img{
    display: flex;
    width: 40px !important;
    height: 100%;
    max-height: 16px;
    object-fit: contain;
    transition: var(--transition-250ms);
}

.button-link_first_icon{
    margin-left: -50px;
}

.button-link:hover .button-link_first_icon{
    margin-left: 0;
}

.button-link:hover .button-link_second_icon{
    margin-right: -50px;
}

.button-link_text{
    color: var(--white);
}

/**/

#Resumen{
    background: var(--red);
    padding: 20px;
}

.resumen{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.resumen-target{
    width: 100%;
    padding: 20px;
    background: rgba(255 255 255 / 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.years{
    font-size: 45px;
    color: var(--white);
    font-weight: 600;
}

.resumen-target img{
    width: auto;
    height: 75px;
}

.resumen-text{
    width: 100%;
    max-width: 250px;
    text-align: center;
    font-size: 17px;
    color: var(--white);
}

/**/



/**/

.services{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 20px;
}

.service-target{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-name{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.service-name p{
    color: var(--red);
    font-size: 25px;
}

.service-text{
    margin-bottom: 10px;
}

.service-list li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.service-list li::before{
    content: '';
    width: 9px;
    height: 9px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background: var(--red);
    margin-right: 8px;
}

.service-target_2 > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/**/

#Clientes{
    background: #f7f7f7;
}

.customers-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.customers{
    width: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: var(--transition-250ms);
}

.customers-target{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.customers-target li img{
    width: 150px;
    height: 80px;
    object-fit: contain;
}

.customers-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.customers-button{
    width: 20px;
    height: 10px;
    background: var(--red);
    cursor: pointer;
    border-radius: 10px;
    transition: var(--transition-250ms);
    opacity: 0.5;
}

.customers-button.active{
    width: 49px;
    opacity: 1;
}

/**/

.ubications{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.ubication-list{
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ubication-list li{
    width: 100%;
}

.ubication-button{
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--red);
    background: var(--white);
    color: var(--red);
    border-radius: 10px;
    transition: var(--transition-250ms);
}

.ubication-button.active, .ubication-button:hover{
    background: var(--red);
    color: var(--white);
}

.maps{
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    border: 0;
    transition: var(--transition-250ms);
}

.map.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

/**/

footer{
    background: #f7f7f7;
    width: 100%;
    padding: 20px;
}

/**/

@media screen and (max-width: 600px){
    .menu{
        display: none;
    }
    .resumen{
        grid-template-columns: 1fr;
    }
    .us-container{
        grid-template-columns: 1fr;
    }
    .services{
        grid-template-columns: 1fr;
    }
    .service-text{
        padding-left: 0;
    }
    .service-list{
        padding-left: 0;
    }
    .customers-target li:nth-child(2n + 1){
        display: none;
    }
    .ubications{
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }
    .ubication-list{
        max-width: none;
    }
    .maps{
        height: 550px;
    }
}