@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 140px;
}

body::-webkit-scrollbar{
    display: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: unset;
}

:root{
    --red:#FF0000;
    --black:#222222;
    --white:#FFFFFF;

    --transition-250ms: all 250ms linear;
}

/**/

button{
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.button-link{
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 30px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.button-link-text{
    transition: var(--transition-250ms);
    font-weight: bold;
}

.button-link-no-bg{
    background: transparent;
    border: 2px solid var(--white);
    transition: var(--transition-250ms);
}

.button-link-no-bg:hover{
    background: var(--white);
}

.button-link-no-bg .button-link-text{
    color: var(--white);
}

.button-link-no-bg:hover .button-link-text{
    color: var(--red);
}

/**/

header{
    width: 100%;
    padding: 10px;
    background: var(--white);
    display: none;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: auto;
    height: 100%;
    object-fit: cover;
}

.menu{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.link{
    color: var(--black);
}

/**/

main{
    margin: auto;
    margin-top: 10px;
    width: calc(100% - 20px);
    max-width: 2000px;
    height: calc(100vh - 20px);
    max-height: 800px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

main video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.main-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000095;
    z-index: -1;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size:  75px;
    color: var(--white);
    width: 100%;
    max-width: 15ch;
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all;
}

.main-services{
    display: flex;
    flex-direction: column;
}

.main-service{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.main-service-prev{
    color: var(--white);
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.main-service-all-service{
    height: 45px;
    overflow: hidden;
    border-bottom: 3px solid var(--red);
}

.main-service-1 .main-service-all-service ul{
    height: 200%;
    animation: two-main-service 6s linear infinite alternate-reverse;
}

@keyframes two-main-service{
    0%, 50%{
        margin-top: 0;
    }
    55%, 100%{
        margin-top: -45px;
    }
}

.main-service-2 .main-service-all-service ul{
    height: 300%;
    animation: three-main-service 9s linear infinite alternate-reverse;
}

@keyframes three-main-service{
    0%, 30%{
        margin-top: 0;
    }
    33%, 60%{
        margin-top: -45px;
    } 
    63%, 100%{
        margin-top: -90px;
    }
}

.main-service-all-service ul li{
    color: var(--white);
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.main-text{
    width: 100%;
    max-width: 500px;
    color: var(--white);
    margin-bottom: 20px;
}

.main-targets{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-target{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* background: #FFFFFF50; */
    background: var(--red);
    border-radius: 20px;
}

.main-target img{
    width: 70px;
    height: 70px;
}

.main-target-title{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: var(--white);
}

.main-target-text{
    color: var(--white);
}

/**/

.block-container{
    width: 100%;
    padding: 20px 10px;
    display: flex;
}

.block-content{
    margin: auto;
    width: 100%;
    max-width: 2000px;
}

.block-title{
    width: 100%;
    margin-bottom: 40px;
}

.block-title h2{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: var(--red);
}

.block-title p{
    width: 100%;
    max-width: 600px;
}

/**/

.companys{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.companys li img{
    width: 150px;
    height: 80px;
    object-fit: contain;
    aspect-ratio: 3/1       ;
}

/**/

#Nosotros .block-content .block-title{
    text-align: center;
}

.us{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.us-target{
    width: 100%;
}

.us-target-1 video{
    width: 100%;
    border-radius: 30px;
}

/**/

.services{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.service-target{
    width: 100%;
    background: var(--red);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.service-target-title{
    font-family: 'Anton', sans-serif;
    color: var(--white);
    font-size: 30px;
}

.service-target p{
    color: var(--white);
    margin-bottom: 20px;
}

.service-target img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

/**/

.maps-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.maps-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.maps-list li{
    background: var(--red);
    padding: 0 30px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.maps-list li h2{
    color: var(--white);
    margin: auto;
}

@media screen and (max-width:600px){
    .button-link{
        width: 100%;
        border-radius: 20px;
    }
    main{
        height: auto;
        max-height: unset;
        gap: 10px;
        padding: 10px;
    }
    h1{
        font-size: 60px;
    }
    .main-service-prev{
        font-size: 25px;
    }
    .main-service-all-service{
        height: 37px;
    }
    @keyframes two-main-service{
        0%, 50%{
            margin-top: 0;
        }
        55%, 100%{
            margin-top: -37px;
        }
    }
    @keyframes three-main-service{
        0%, 30%{
            margin-top: 0;
        }
        33%, 60%{
            margin-top: -37px;
        } 
        63%, 100%{
            margin-top: -74px;
        }
    }
    .main-service-all-service ul li{
        font-size: 25px;
    }
    .main-text{
        margin-bottom: unset;
    }
    .main-targets{
        width: 100%;
        position: relative;
        right: unset;
        bottom: unset;
    }
    .block-container{
        padding: 10px;
    }
    .block-title{
        margin-bottom: 0;
    }
    #Empresas{
        display: none;
    }
    .us{
        display: flex;
        flex-direction: column;
    }
    .us-target-1{
        height: 200px;
    }
    .us-target-1 video{
        height: 100%;
    }
    .services{
        flex-direction: column;
    }
}