@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --body:#f5f3f5;
    --text:#222;
    --purple-1:#3f3047;
    --purple-2:#271033;
    --purple-3:#230c33;
    --purple-4:#592e83;
    --white:#fff;
}

body{
    background: var(--body);
    color: var(--text);
}

.offertTopContainer{
    width: 100%;
    height: 40px;
    background: var(--purple-4);
    overflow: hidden;
    padding: 0 20px;
}

.offertTopContent{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
}

.offertTopContent section{
    margin: auto;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: offertTop 8s ease-in-out infinite alternate;
}

@keyframes offertTop{
    0%, 40%{
        margin-top: 0;
    }
    60%, 100%{
        margin-top: -40px;
    }
}

.offertTopContent section p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white);
    font-size: 13px;
}

.offertTopContent section p a{
    font-size: 13px;
    color: var(--white);
    text-decoration: underline;
}

/*Logo*/

.logoContainer{
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.logo{
    margin: auto;
    font-size: 50px;
    font-weight: 500;
    color: var(--purple-4);
}

/**/

.navContainer{
    width: 100%;
    padding: 10px 20px;
}

.navContent{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navLink{
    color: var(--purple-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLink a{
    font-weight: 500;
    color: var(--purple-4);
}

.networks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5px;
}

.network{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    background: var(--purple-4);
    position: relative;
}

.network i{
    color: var(--white);
    font-size: 20px;
}

.network span{
    position: absolute;
    left: 50%;
    top: -100%;
    translate: -50% 0;
    padding: 3px 10px;
    background: var(--white);
    color: var(--purple-4);
    box-shadow: 0 0 8px rgba(58 58 58 / 0.2);
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease;
    border-radius: 10px;
}

.network:hover span{
    opacity: 1;
}

/**/

.bannerContainer{
    width: 100%;
    height: 400px;
    padding: 10px 20px;
    background: var(--purple-4);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

/**/

.blockContainer{
    width: 100%;
    padding: 20px;
}

.blockContent{
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.blockTitle{
    width: 100%;
    text-align: center;
    color: var(--purple-4);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

/**/

.indexContent{
    margin: auto;
    max-width: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.indexTarget{
    width: 100%;
    height: 200px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
}

.indexTarget-1{
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
}

.indexTarget-2{
    grid-column: 2/4;
    grid-row: 1/3;
    height: 100%;
}

.indexTarget-1, .indexTarget-2{
    height: 550px;
}

.indexTarget-1 > img, .indexTarget-2 > img{
    position: absolute;
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000;
    opacity: 0.1;
    transition: all 300ms ease;
}

.indexTarget:hover .layer{
    opacity: 0.35;
}

.indexTextContent{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.indexOfertTitle{
    font-size: 35px;
    font-weight: 600;
}

.indexOfertDescription{
    font-weight: 600;
}

.indexOfertLink{
    width: 100%;
    display: flex;
}

.indexOfertLink a{
    margin: auto;
    padding: 10px 20px;
    border: 2px solid var(--white);
    color: var(--white);
    transition: all 300ms ease;
    font-weight: 500;
}

.indexOfertLink a:hover{
    background: var(--purple-4);
}

.indexTarget-3, .indexTarget-4, .indexTarget-5{
    background: rgba(89 46 131 / 0.2);
}

.indexTarget img{
    margin: auto;
    width: 100px;
}

.indexTargetTitle, .indexTargetTitle b{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: var(--purple-4);
    font-weight: 600;
}

.amigurumi{
    background: var(--purple-4);
    color: var(--white) !important;
    padding: 2px 7px;
}

/*More Populars*/

.morePopularContainer{
    position: relative;
}

.morePopularContainer > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: -1;
}


.morePopulars{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background: var(--white);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.morePopular{
    position: relative;
}

.morePopular img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.morePopularTitle{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    pointer-events: none;
    color: var(--purple-4);
    opacity: 0;
    transition: all 300ms ease;
}

.morePopular:hover .morePopularTitle{
    opacity: 1;
}

/*Products*/

.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product{
    background: var(--white);
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sticker{
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 10px;
    background: crimson;
    color: var(--white);
    font-size: 12px !important;
    z-index: 1;
}

.productImg{
    width: 100%;
    height: 300px;
}

.productImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.likeButton{
    position: absolute;
    right: -50px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.product:hover .likeButton{
    right: 10px;
}

.likeButton span{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.likeButton span i{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: crimson;
    transition: all 300ms ease;
    font-size: 20px;
}

.liked{
    scale: 0;
}

.likeButton:hover span .liked{
    scale: 1;
}

.productName{
    width: 100%;
    padding: 0 10px;
}

.productPryce{
    width: 100%;
    padding: 0 10px;
    color: var(--purple-4);
    font-weight: 600;
    font-size: 18px;
}

.productLink{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.shop{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--purple-4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shop i{
    color: var(--white);
}

/*Suscribe*/

.susContainer{
    padding: 0;
}

.susContent{
    max-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sus{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sus-1{
    background: var(--purple-4);
}

.formContainer{
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.form{
    text-align: center;
    color: var(--white);
}

.formTitle{
    font-size: 40px;
    font-weight: 600;
    color: var(--white);
}

.form section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 45px);
    column-gap: 10px;
    color: var(--white);
}

.formSpan{
    grid-column: 1/-1;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.form section input{
    grid-column: 1/2;
    grid-row: 2/3;
    background: transparent;
    border: 2px solid var(--white);
    outline: 0;
    padding: 0 20px;
    transition: all 200ms ease;
    color: var(--white);
}

.form section button{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 20px;
    cursor: pointer;
    background: var(--white);
    color: var(--purple-4);
    font-weight: 600;
    border: 0;
    outline: 0;
}

.sus-2{
    background: var(--purple-3);
    position: relative;
}

.coupon{
    margin: auto;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.line{
    width: 100%;
    height: 2px;
    background: var(--purple-4);
}

.couponTitle{
    color: var(--purple-4);
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.couponText{
    width: 100%;
    text-align: center;
}

.couponText b{
    display: block;
    width: 100%;
    color: var(--purple-4);
    font-size: 25px;
    font-weight: 600;
}

.how{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.how i{
    color: var(--purple-4);
    font-size: 20px;
}

/*Responsive*/

@media screen and (max-width:600px){
    .offertTopContent section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .offertTopContent section p, .offertTopContent section p a{
        font-size: 11px !important;
    }
    .navContainer{
        padding: 20px 10px;
    }
    .navLinks{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .navLink{
        gap: 2.5px;
    }
    .navContent{
        flex-direction: column;
    }
    .navLinks, .networks{
        width: 100%;
    }
    .indexContent{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    .indexTarget{
        grid-column: 1/-1;
    }
    .indexTarget-1{
        grid-row: 1/2;
    }
    .indexTarget-2{
        grid-row: 2/3;
    }
    .morePopularContainer > img{
        height: 500px;
    }
    .morePopulars{
        grid-template-columns: 1fr;
    }
    .products{
        grid-template-columns: 1fr;
    }
    .susContent{
        grid-template-columns: 1fr;
    }
    .sus{
        height: 450px;
    }
}