@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

:root{
    --purple:#8C1B6E;
    --blue:#1B1640;
    --green:#03A64A;
    --orange:#F2220F;
    --body:#fff;
    --text:#222;
}

body{
    background: var(--body);
    color: var(--text);
}

.presentationContainer{
    width: 100%;
    height: 100vh;
    max-height: 1000px;
    background: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=874&q=80');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    overflow: hidden;
}

.presentationContainer img{
    margin: auto;
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

/**/

.blockContainer{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.blockContent{
    margin: auto;
    width: 100%;
    max-width: 1500px;
}

.blockTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.blockTitle span{
    font-size: 40px;
    font-weight: 500;
    background: var(--body);
    padding: 10px 50px 10px 10px;
    border-radius: 0 50px 50px 0;
    transition: all 200ms ease;
}

.blockTitle span{
    color: var(--orange);
}

.blockContainer:hover .blockTitle span{
    background: var(--orange);
    color: var(--body);
}

/**/

.what{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.whatImg{
    width: 100%;
    max-width: 600px;
    height: 450px;
    background: var(--orange);
    border-radius: 0 500px 500px 0;
    position: relative;
}

.whatImg img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 300px;
    height: auto;
    object-fit: cover;
}

.whatText{
    width: 100%;
    max-width: 600px;
}

/**/

.for{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.forText{
    width: 100%;
    max-width: 600px;
    margin-left: 10px;
}

.gallery{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    margin-right: 10px;
}

.photo{
    width: 250px;
    height: 180px;
    background: var(--body);
    transition: all 200ms ease;
    border: 2px solid var(--orange);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.photo img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    transition: all 200ms ease;
    object-fit: cover;
}

.photo:hover img{
    scale: 1.35;
}

/**/

.why{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.whyImg{
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 0 500px 500px 0;
    position: relative;
    background: var(--body);
    border: 4px solid var(--orange);
    border-left: 0;
}

.whyImg img{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 300px;
    height: auto;
    object-fit: cover;
}

.whyList{
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    margin-right: 10px;
}

.whyList li{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.num{
    width: 50px;
    height: 50px;
    background: var(--orange);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--body);
    position: relative;
}

.num::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 53px;
    height: 53px;
    border-radius: 100%;
    border: 4px solid var(--orange);
    opacity: 0;
    transition: all 200ms ease;
}

.whyList li:hover .num::before{
    opacity: 1;
}

.whyList li span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/**/

.who{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.whatsapp{
    width: 100%;
    height: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whatsapp img{
    margin: auto;
    width: 250px;
    height: auto;
}

.whatsapp a{
    width: 65px;
    height: 65px;
    background: var(--orange);
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    border: 3px solid transparent;
}

.whatsapp a::before{
    content: 'Mediante nuestro WhatsApp';
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    translate: 0 -50%;
    background: var(--orange);
    width: 250px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: var(--body);
    border-radius: 50px;
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease;
}

.whatsapp a:hover::before{
    opacity: 1;
}

.whatsapp a:hover{
    background: var(--body);
    border: 3px solid var(--orange);
}

.whatsapp a i{
    color: var(--body);
    font-size: 30px;
    transition: all 200ms ease;
}

.whatsapp a:hover i{
    color: var(--orange);
}

.formContainer{
    width: 100%;
    max-width: 600px;
    margin-right: 10px;
}

.form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.formSection{
    width: 100%;
    height: 70px;
    position: relative;
}

.formSpan{
    width: 100%;
    height: 20px;
    font-size: 13.5px !important;
    color: var(--orange);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
}

.formSection input, .formSection textarea{
    width: 100%;
    height: calc(100% - 20px);
    border: 2px solid var(--orange);
    padding: 0 10px;
    outline: 0;
    background: transparent;
    border-radius: 5px;
}

.formSection input::placeholder, .formSection textarea::placeholder{
    color: var(--text);
}

.formSection textarea{
    padding: 10px;
    resize: none;
}

.sms{
    height: 150px;
}

.accept{
    display: flex;
    align-items: center;
    justify-content: left;
}

.check{
    display: none;
}

.check:checked ~ .label{
    background: var(--orange);
}

.label{
    display: block;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    background: var(--body);
    border: 2px solid var(--orange);
    transition: all 200ms ease;
}

.accept p{
    font-size: 14px;
}

.accept p a{
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
}

.accept p a:hover{
    text-decoration: underline;
}

.submit{
    width: 100%;
    grid-column: 1/-1;
    background: var(--orange);
    color: var(--body);
    font-weight: 500;
    border: 2px solid transparent;
    outline: 0;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    transition: all 200ms ease;
}

.submit:hover{
    background: var(--body);
    color: var(--orange);
    border: 2px solid var(--orange);
}

/**/

.layer{
    width: 100%;
    height: 100vh;
    background: rgba(0 0 0 / 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}

.layer__active{
    display: block;
}

/**/

.thanksContent{
    width: calc(100% - 20px);
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: var(--body);
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0 0 0 / 0.05);
    opacity: 0;
    pointer-events: none;
    scale: 0.7;
    transition: all 200ms ease;
}

.thanks__active{
    opacity: 1;
    scale: 1;
    pointer-events: unset;
}

.thanksTitle{
    width: 100%;
    text-align: center;
    color: var(--orange);
    font-size: 30px;
    font-weight: 500;
}

.thanksText{
    margin: 10px 0;
}

.thanksClose{
    width: 100%;
    display: flex;
}

.thanksClose i{
    width: 45px;
    height: 45px;
    background: var(--orange);
    border-radius: 100%;
    margin: auto;
    color: var(--body);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/**/

.finalContainer{
    width: 100%;
    display: flex;
    background: var(--orange);
    padding: 5px 10px;
}

.finalContainer p{
    margin: auto;
    width: 100%;
    max-width: 1500px;
    font-size: 15px;
    text-align: center;
    color: var(--body);
}

.finalContainer p a, .finalContainer p a b{
    color: var(--body);
    font-size: 15px;
    color: var(--body);
    font-weight: normal;
}

.finalContainer p a:hover{
    text-decoration: underline;
}

@media screen and (max-width:800px){
    .label, .opcion, .contenido-opcion, .submit, .thanksClose i, a{
        cursor: none !important;
    }
    .whatImg, .whyImg{
        max-width: 450px;
    }
    .whatImg img, .whyImg img{
        width: 280px !important;
    }
    .photo{
        width: 170px;
        height: 150px;
    }
}

@media screen and (max-width:600px){
    .presentationContainer img{
        width: 280px !important;
        height: auto;
    }
    .blockTitle span{
        font-size: 30px;
    }
    .what, .for, .why, .who{
        flex-direction: column;
        gap: 20px;
    }
    .whatImg img, .whyImg img{
        width: 250px !important;
    }
    .whatText, .forText{
        padding: 10px;
        margin: 0 !important;
    }
    .gallery{
        width: 100%;
        margin: 0;
        padding: 0 10px;
    }
    .photo{
        width: 100%;
        height: 147px;
    }
    .whyList{
        margin: 0;
        padding: 0 10px;
    }
    .whatsapp a::before{
        left: 50%;
        top: calc(100% + 10px);
        translate: -50% 0;
    }
    .formContainer{
        margin: 0;
        padding: 0 10px;
    }
    .sms{
        height: 220px;
    }
}

.contenedor{
	width: 100%;
	margin: auto;
}

.selectbox{
	width: 100%;
	margin: auto;
	position: relative;
}

.select{
	width: 100%;
    height: 50px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease;
	position: relative;
    border: 2px solid var(--orange);
}

.contenido-select{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.seleccione{
    margin-left: 10px;
    user-select: none;
}

.select i{
	color: var(--orange);
    font-size: 20px !important;
    margin-right: 10px;
    user-select: none;
}

.opciones{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 200px;
    background: var(--body);
	border-radius: 5px;
	overflow: auto;
	width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    transition: al 200ms ease;
    border: 2px solid var(--orange);
}

.opciones::-webkit-scrollbar{
    width: 5px;
}

.opciones::-webkit-scrollbar-thumb{
    background: var(--orange);
    border-radius: 10px;
}

.opciones.active{
    transition: all 200ms ease;
    top: calc(100% + 10px);
    opacity: 1;
    pointer-events: unset;
}

.opcion{
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.contenido-opcion{
	width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	transition: all 200ms ease;
    cursor: pointer;
    color: var(--text);
    padding: 0 10px;
}

.contenido-opcion:hover{
    background: var(--orange);
    color: var(--body);
}