@import url('../style.css');

/*Us*/

.video-us{
    width: 100%;
    height: 400px;
}

.us-target-2 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/*Vision y mision*/

#vision-mision{
    /* background: var(--red); */
    padding: 30px 10px;
    position: relative;
}

#vision-mision::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: var(--black-2);
    transition: var(--transition-250ms);
    z-index: -1;
}

.dark-mode #vision-mision::before{
    background: #444;
}

#vision-mision::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--red);
    z-index: -2;
}

.vision-mission-target{
    padding: 20px;
    /* background: #FFFFFF25; */
    border-radius: 5px;
}

.vision-mission-target .block-title-title,
.vision-mission-target .text{
    color: var(--white);
}

/*Certifications*/

.certifications{
    display: grid;
    grid-template-columns: 1fr 350px;
}

.certification img{
    width: 100px;
}

.certification{
    padding: 20px;
    background: var(--target);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.certifications-target-2 video{
    width: 100%;
    height: 450px;
}

/*Machines*/

/* .machines-container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
} */

.machine-list{
    flex-wrap: wrap;
}

/* .machine-button.active{
    background: var(--red);
} */

.machine{
    width: 100%;
    /* flex: 2; */
    /* max-width: 400px; */
    background: var(--target);
    border-radius: 5px;
    /* padding-bottom: 10px; */
    overflow: hidden;
    transition: var(--transition-250ms);
}

.machine-photo{
    width: 100%;
    height: 200px;
    position: relative;
}

.machine-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* aspect-ratio: 16/9; */
}

.machine-description{
    padding: 10px;
    width: 100%;
    height: calc(100% - 200px);
}

.machine-characteristics .text-sub-title{
    margin-bottom: 10px;
}

.machine-description a{
    margin-top: auto;
}

/*Responsive*/

@media screen and (max-width:600px){
    .certifications{
        grid-template-columns: 1fr;
    }
}